= semantic_form_for @ticket do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :body, input_html: { rows: 10, cols: 50 }
  %br
  = f.actions do
    = f.submit 'Send Ticket', class: 'btn btn-big btn-success'
